.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button {
  margin-right: 10px;
}

textarea {
  width: 100%;
}

pre {
  background: rgba(0, 0, 0, 0.1);
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.618em;
  padding: 1.618em;
  overflow: auto;
  max-width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
